* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fl {
  display: flex;
}
.fdc {
  flex-direction: column;
}
.jcb {
  justify-content: space-between;
}
.jca {
  justify-content: space-around;
}
.jcc {
  justify-content: center;
}
.ai {
  align-items: center;
}
a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #000;
}
.ant-modal-body .ant-btn {
  border: 1px solid #d9d9d9;
  width: unset !important;
  height: 32px !important;
  padding: 0 15px !important;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.499 !important;
  border-radius: 4px;
  background: #fff !important;
}
.ant-modal-body .ant-btn.ant-btn-primary {
  background: #11CB88 !important;
  color: #fff;
}
.ant-btn {
  border: none;
  width: 150px !important;
  height: 40px !important;
  padding: 0 !important;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 24px !important;
  border-radius: 54px;
  background: #11CB88 !important;
}
.ant-btn img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border-radius: 50%;
}
.ant-btn-lg {
  width: 250px !important;
}
.ant-btn-sm {
  width: 100px !important;
}
.btn-white {
  font-size: 12px;
  font-weight: normal;
  width: 156px !important;
  color: black !important;
  background: white !important;
  border: 1px solid #DCE6ED;
}
.btn-blue {
  background: #3591FE !important;
}
.btn-gray {
  color: #0067B1;
  background: #E4EEFA !important;
}
.btn-border {
  color: #285F87;
  background: transparent !important;
  border: 1px solid #285F87;
}
.btn-noBorder {
  width: 100px !important;
  color: black;
  background: transparent !important;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
